*{
    margin: 0%;
    padding: 0%;
}
header{
    background-image: linear-gradient( to right, yellow, #FFCC00);
    min-width: 300px;
    height: 50px;
    padding-top: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.253);
    align-items: center;
}
div#titulo{
    display: flex;
    position: absolute;
    justify-content: center;
    color: black;
    text-align: center;
    background-color: none;
    
    margin-top: 5px;
    width: 100%;
}
#título{
    font-size: 20pt;
}
#botao{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    background: none;
    outline: none;
    border: none;
    border-bottom-left-radius: 10px;
}
#imagemmenu{
    width: 17px;
    height: 12px;
}
#iconhome{
    display: inline;
    background: none;
    border: none;
}
#imghome{
    height: 17px;
    width: 17px;
}
#abaRev{
    margin-top: 0%;
    border: none;
    position: absolute;
    background-color: yellow;
    width: 100px;
    height: 50px;
}
#botao:active{
    transform: scale(0.7, 1);
}
ul{
    background-color: none;
    text-align: center;
    margin-top: 130px;
}
a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-decoration: none;
}
ul:hover{
    cursor: pointer;
    transition: 0.5s;
}
a:hover{
    color: rgb(83, 83, 83);
    text-decoration: underline;
    transition: 0.2s;
}

/*Conteúdo*/
main{
    text-align: center;
    margin: auto;
    margin-top: 50px;
    max-width: 600px;
    min-width: 300px;
}
.linhahorizontal{
    width: 120px;
    height: 2px;
    background-color: rgb(101, 101, 247);
}
#linha1{
    display: block;
    margin-left: 124px;
    margin-top: 60px;
    background-color: white;
    height: 1px;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    border-bottom-style: solid 1px black;
    border-right: none;
    border-left: none;
}
.infobutton{
    display: block;
    width: 100px;
    height: 50px;
    margin-top: -30px;
    margin-left: 250px;
    background-color: yellow;
    color: black;
    padding: 5px;
    border-radius: 7px;
    border: solid 1px rgb(63, 63, 221);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.055);
}
.infobutton:hover{
    background-color: rgb(170, 170, 0);
}
#linha2{
    display: block;
    margin-left: 354px;
    margin-top: -22px;
}
.linhavertical{
    margin: auto;
    width: 2px;
    height: 130px;
    background-color: rgb(101, 101, 247);
}
#linha3{
    display: block;
    margin-left: 474px;
    margin-top: -2px;
}
#linha4{
    display: block;
    margin-left: 354px;
    margin-top: -24px;
}
#linha5{
    margin-left: 125px;
    margin-top: -2px;
}
#html{
    display: block;
    margin-top: -28px;
    margin-left: 250px;
}
#linha6{
    margin-left: 125px;
}
#linha7{
    margin-left: 125px;
}
#css{
    display: block;
    margin-left: 250px;
    margin-top: -28px;
}


